*{
    box-sizing: border-box;
    font-family:GS;
    font-size: 15px;
    transition: all .2s ease-in;
}
@font-face{
    font-family: GS;
    src:url(fonts/WebFont.ttf);
}
body{
    background-color:  #fdf9ff;
    color: #161616;
}
.fisrt_page{
    width: 90%;
    margin-left:5%;
    background-color: white;
}
.nav{
    display:flex;
    justify-content: center;
}
.header{
    box-shadow: -1px 15px 19px rgba(0, 0, 0, 0.05)  ; 
    width:100%;
    height: 100px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: white;
}
.item{
    padding: 1rem;
    font-size: 2em;
}
.two_sliders{
    background-color: white;
    display:flex;
    align-items:center;
}
.first_slider{
    padding: 2em;
    width: 30%;
}
.second_slider{
    padding: 2em;
    width: 70%;
}
.photo_item{
    width: 100%;
    border-radius: 6px;
}
.first_slider .slick-arrow{
    display: none;
}
.first_slider .slick-dots li button:before {
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: -30px;
    left: -100%;
    width: 40px;
    height: 20px;
    content: '-'; /* <-- Вот этот символ */
    text-align: center;
    opacity: .35;
    color: rgb(129, 6, 6);
}
button{
    
    border: none;
    outline: none;
    cursor: pointer;
    width: 15em;
    height: 5em;
    border-radius: 4em;
    font-size: 3em;
    background-color:#c02a47;
}
.p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
h3{
    font-size: 2em;
}
.p1 img{
    margin-bottom: 20px;
    height: 15em;
}
.btn_txt{
    color:#fdf9ff;
    font-weight: none;
    font-size: 3em;
}
.in_slide{
    margin-bottom: 1.4em;
}
.slick-arrow{
    background-color:#c02a47;
    border-radius: 50%;
    color: transparent;
    font-weight: bold;
}
.slick-arrow.slick-next{
    right: 10%;
    z-index: 300;
}
.slick-arrow.slick-prev{
    left: 10%;
    z-index: 300;
}
.slick-next::before{
    z-index: 300;
    content:'>'
}
.slick-prev::before{
    z-index: 300;
    content:'<'
}
.slick-arrow:hover{
    background-color:#c02a47;
    border-radius: 50%;
    color: transparent;
    font-weight: bold;
}
.slick-prev:hover, .slick-next:hover{background-color:#d2a66b}
.icon{
    width: 6em;
    border-radius: 50%;
    border: 3px solid #ff7c8f;
    margin: 1em;
}
.name{
    color: #ff7c8f;
    text-transform: uppercase;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.f1{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: white;
    width: 100%;
    height: 17em;
}
.consult{
    background-color:#c02a47;
    padding: 4em;
    padding-top: 8em;
    position: relative;
}
.consult_description{
    color:white;
    width: 20em;
    height: 4em;
    font-size: 1.5em;
    text-align: center;
    padding: 0.8em;
    text-transform: uppercase;
    background-color: #1d0410;
    border-radius: 60px;
}
.unheader{
    display: flex;
    justify-content: space-around;
}
.third_slider{
    width: 60%;
}
.social_links{
    display: flex;
    justify-content: space-around;
    width: 20em;

}
.social_links img{
    width: 5em;
}
.consult_social{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.fb{
    position: absolute;
    top: -20px;
    right: 25%;
    color: white;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: normal;
}
.third_slider .slick-dots li button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    transform: rotate(45deg);
    top: -30px;
    left: -100%;
    width: 40px;
    height: 20px;
    content: '◼'; /* <-- Вот этот символ */
    text-align: center;
    opacity: .9990;
    color: rgba(75, 7, 7, 0.767);
}
li.slick-active button{
    opacity: 1;
    color: rgba(0, 0, 0, 0.967);
}
.shop_header{
    text-align: center;
    margin: 0;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
}
.shop{
    padding: 10px 10em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.shop_cards{
    display: flex;
    justify-content: space-around;
}
.shop_item{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 100%;
    border: 2px solid #e4e4e4;
    text-align: center;
    position: relative;
    padding: 1em;
    margin: 3em;
    height: 30em;
}
.label{
    position: absolute;
    top: -2em;
    left: 40%;
    background-color: white;
    width: 20%;
    border-radius: 10px;
}
.card_image{
    width: 50%;
}
.deliver{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    width: 12em;
    height: 4em;
    position: absolute;
    background-color:#c02a47;
    outline: 2px solid #e4e4e4;
    border: 2px solid  #750c3f;
    left: calc(50% - 6em);
    bottom: -2em;
}
.order{
    font-size: 2em;
}
.trash{
    width: 2em;
}
.card_description{
    padding: 5px;
    width: 70%;
    margin: 1em;
    border: 2px dashed #e4e4e4;
}
.discount{
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
}
.to_catalog{
    margin: 20px;
    transition: all .2s ease-in;
    position: relative;
    background-color: #ff5b36;
    color: #fff2f2;
    text-decoration: uppercase;
}
.to_catalog p:hover{
    transform: scale(1.1);
    text-shadow: 1px 1px 0px  #ff364073;
}
h2{
    margin: 0;
    text-transform: uppercase;
}
.how_to_order{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.city_buttons{
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    width: 75%;
}
.cbtn{
    font-size: 1.5rem;
    padding: 15px;
    width: 30%;
    border: 1px solid #161616
}
.order_header{
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 1em;
}
span{
    font-size: 2rem;
    color: red;
    font-weight: normal;
}
.square{
    width: 10em;
    padding: 2.5em;
    height: 10em;
    transform: rotate(45deg);
    border: 3px solid #e4e4e4;
    background-color: white;
}
.square_img{
    transform: rotate(-45deg);
    width: 5em;
}
.squares{
    padding:5em 15em;
    display: flex;
    justify-content: space-around;
}
.square_desc{
    width: 16em;
    margin-top: 3em;
    margin-left: -3em;
    text-align: center;
}
.line_container{
    position: relative;
    padding: 0% 15%;
}
.line{
    height: 3px;
    background-color: #fcb5b5;
    margin-bottom: 2em;
    margin-top: -2em;
}
.romb{
    position: absolute;
    width: 2em;
    height: 2em;
    outline: 0.5em solid white;
    border: 3px solid  #fcb5b5;
    background-color: white;
    left: calc(50% - 2em);
    top: -0.85em;
    transform: rotate(-45deg);
    border-radius:4px;
}
.conditions_header{
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}
.map1{
    width: 80%;
    margin-top: 2em;
    margin-left:10%;
    height: 35em;
    margin-bottom: 7em;
}
.footer{
    background-color: #f7f7f7;
    position: relative;
}
.footer_container{
    padding: 5em 10em;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.footer_adresses{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.head_footer{
    background-color: #fdfdfd;
    font-weight: normal;
    font-size: 1.5em;
    width: 12em;
    height: 2em;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 1em;
    border: 1px solid  #e4e4e4;
    position: absolute;
    left: calc(50% - 6em);
    top: -1em;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2)  ; 
}
.footer_form{
    padding: 1em;
}
input{
    padding: 10px;
    height: 3em;
    width: 20em;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4e4;
    margin-top: 100px;
}
.name{
    margin-bottom: 30px;

}
.footer_form{
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.14)  ; 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 25em
}
.inputs{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.btn_submit{
    margin-top: 30%;
    color: #ffffff;
    background-color: #ff5b36;
    border-radius: 30px;
    border: none;
}
.label_form{
    font-weight: normal;
    text-align: center;
    color: #ff5b36;
    font-size: 1.5em;
}
.fta{
    margin: 50px 20px;
    padding: 10px;
    border-bottom: 2px solid #e4e4e4;
}
img.little{
    width: 4em;
}
@media screen and (max-width: 1400px ){
    *{
        font-size: 10px;
    }
}
.item:hover{
    transform: scale(1.05);
    cursor: pointer;
    text-shadow: 1px 1px 0px  #ff5b3673;
}
.in_slide:hover{
    border: 2px solid  #750c3f;
    box-shadow: 0px 0px 16px 0px  #ff5b36cb;
}
p.btn_txt:hover{
    text-shadow: 1px 1px 0px  #ff5b3673;
}
.shop_item:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 20px 0px  #ff5b3681;
}
.deliver:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.trash+.order:hover{
    filter: invert(1)
}
.social_item,.little{
    border-radius: 50%;
}
.social_item:hover,.little:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px  #ff5b3681;
    cursor: pointer;
}
.square:hover{
    background-color: #ff5b36;
    cursor: pointer;
}
.square:hover img{
    filter: invert(1);
}
.cbtn p{
    font-size: 1em;
}
.cbtn:hover p{
    color: #e4e4e4;
}
.cbtn:hover{
    background-color: #ff5b36;
}


@media screen and (max-width: 700px ){
    *{
        font-size: 9px;
    }
    .fisrt_page{
        width: 100vw;
        margin-left:0%;
    }
    .item{
        display: none;
    }
    .map1{
        width: 100%;
        margin-left:0%;
    }
    .shop{
        padding: 10px 10px;
    }
    .shop_cards{
        width: 100%;
    }
    .shop_item{
        width: 33%;
        height: 100%;
        padding: 0.5em;
        margin: 2em 0.5em;
        height: 20em;
    }
    .label{
        z-index: 301;
    }
    .footer_container{
        padding: 3em 2em;
    }
    .square{
        width: 7em;
        padding: 1.5em;
        height: 7em;
    }
    .squares{
        padding:5em 0em;
        width: 90%;
        margin-left: 7%;
    }
    .square_img{
        transform: rotate(-45deg);
        width: 3em;
    }
    .square_item{
        width: 24%;
    }
    .square_desc{
        width: 10em;
        margin-top: 3em;
        margin-left: -2em;
    }
    .social_links{
        display: flex;
        justify-content: space-around;
        width: 15em;
    
    }
    .social_links img{
        width: 4em;
    }
    .fta{
        margin: 10px 20px;
        padding: 5px;
    }
    .deliver{
        padding: 5px;
        width: 10em;
        height: 4em;
        left: calc(50% - 5em);
    }
    .order{
        font-size: 1.5em;
    }
    .label{
        left: 30%;
        width: 40%;
    }
    .card_image{
        width: 60%;
    }
    .city_buttons{
        width: 100%;
    }
    
    .third_slider{
        width: 100%;
    }
    .consult{
        background-color:#c02a47;
        padding: 0em;
        padding-top: 8em;
        position: relative;
    }
    .fb{
        right: 32%;
    }
    .unheader{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .third_slider .slick-dots li button:before {

        font-size: 20px;
        top: -30px;
        left: 0%;
        width: 20px;
        height: 10px;
        color: rgba(75, 7, 7, 0.767);
    }
    .first_slider{
        display: none;
    }
    .second_slider{
        padding: 1em;
        width: 100%;
    }
    .logo img{
        width: 100px;
    }
    .header{
        height: 50px;
        box-shadow: -1px 15px 9px rgba(0, 0, 0, 0.075)  ; 
    }
    .name{
        text-align: center;
    }
}
@media screen and (max-width: 700px ){
    *{
        font-size: 9px;
    }
    .fisrt_page{
        width: 100vw;
        margin-left:0%;
    }
    .item{
        display: none;
    }
    .map1{
        width: 100%;
        margin-left:0%;
    }
    .shop{
        padding: 10px 10px;
    }
    .shop_cards{
        width: 100%;
    }
    .shop_item{
        width: 33%;
        height: 100%;
        padding: 0.5em;
        margin: 2em 0.5em;
        height: 20em;
    }
    .label{
        z-index: 301;
    }
    .footer_container{
        padding: 3em 2em;
    }
    .square{
        width: 7em;
        padding: 1.5em;
        height: 7em;
    }
    .squares{
        padding:5em 0em;
        width: 90%;
        margin-left: 7%;
    }
    .square_img{
        transform: rotate(-45deg);
        width: 3em;
    }
    .square_item{
        width: 24%;
    }
    .square_desc{
        width: 10em;
        margin-top: 3em;
        margin-left: -2em;
    }
    .social_links{
        display: flex;
        justify-content: space-around;
        width: 15em;
    
    }
    .social_links img{
        width: 4em;
    }
    .fta{
        margin: 10px 20px;
        padding: 5px;
    }
    .deliver{
        padding: 5px;
        width: 10em;
        height: 4em;
        left: calc(50% - 5em);
    }
    .order{
        font-size: 1.5em;
    }
    .label{
        left: 30%;
        width: 40%;
    }
    .card_image{
        width: 60%;
    }
    .city_buttons{
        width: 100%;
    }
    
    .third_slider{
        width: 100%;
    }
    .consult{
        background-color:#c02a47;
        padding: 0em;
        padding-top: 8em;
        position: relative;
    }
    .fb{
        right: 32%;
    }
    .unheader{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .third_slider .slick-dots li button:before {

        font-size: 20px;
        top: -30px;
        left: 0%;
        width: 20px;
        height: 10px;
        color: rgba(75, 7, 7, 0.767);
    }
    .first_slider{
        display: none;
    }
    .second_slider{
        padding: 1em;
        width: 100%;
    }
    .logo img{
        width: 100px;
    }
    .header{
        height: 50px;
        box-shadow: -1px 15px 9px rgba(0, 0, 0, 0.075)  ; 
    }
    .name{
        text-align: center;
    }
}
@media screen and (max-width: 700px ){
    *{
        font-size: 8px;
    }
    .cbtn{
        padding: 0px;
    }
}